
<div class="container-register d-flex align-items-center justify-content-center">
    <div class="section-register d-flex flex-column">
        <div class="card text-center w-25 px-30">
            <div class="card-header">
                <b class=" mb-4 p-4">REGISTRARSE</b>
            </div>
   <div class="login-container p-4">

    <label style="float: left;">Email</label>
    <input class="form-control m2" type="email" placeholder="ingrese su correo"[(ngModel)]='usuario.email'>

    <label style="float: left;">Contraseña</label>
    <input class="form-control m2" type="password" placeholder="ingrese su contraseña"[(ngModel)]='usuario.password'>

    <button class="btn btn-primary btn-block m-2"(click)='Registrarse()'>Registrarse</button><br>
    <label>Ya tienes cuenta?<a routerLink="/login"> Ingresa</a></label>
    </div>

    </div>
  </div>
